:root {
    --blue: #166AFF;
    --green: #6AC06B;
    --white: #FFFFFF;
    --gray: #D8D8D8;
    --disabled-gray: #979797;
    --dark: #4A4A4A;
    --red: #FF1616;
    --black-shadow: rgba(0, 0, 0, .2);
}
