:root {
    --blue: #166AFF;
    --green: #6AC06B;
    --white: #FFFFFF;
    --gray: #D8D8D8;
    --disabled-gray: #979797;
    --dark: #4A4A4A;
    --darker: #313131;
    --red: #FF1616;
    --orange: #ffbda7;
    --black-shadow: rgba(0, 0, 0, .2);
    --small-black-shadow: rgba(0, 0, 0, .1);
}
