// Colors: In order to make variables available to all components, they are wrapped in :root element
:root {
    --blue: #166AFF;
    --green: #6AC06B;
    --white: #FFFFFF;
    --gray: #D8D8D8;
    --dark: #4A4A4A;
    --red: #FF1616;
}
