// Fonts
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:300,400,800&display=swap');

:root {
    // Font wights
    --light: 300;
    --normal: 400;
    --bold: 800;
    // Font family
    --regular: 'Mukta Mahee';
}